<!-- <script src="https://code.highcharts.com/highcharts.js">
  Highcharts.setOptions({
    time: {
        useUTC: false
    }
});
</script> -->

<center>
<h3>International University - Viet Nam National University</h3>
<h4>Air quality and Gas leakage monitoring system </h5>
<h4 class="blue">Ly Phuong Hao - EEEEIU14011 </h5>
</center>


<div class="row">
    <div class="col text-center" style="margin: 30px;">
      <h5>Temperature Chart</h5>
      <div id="container_temperature" style="height: 400px; width: 600px"></div>
    </div>

    <div class="col text-center" style="margin: 30px;">
      <h5>Humidity Chart</h5>
      <div id="container_humidity" style="height: 400px; width: 600px"></div>
    </div>
</div>

<div class="row">
  <div class="col text-center">
    <h5>Gas</h5>
      <div id="container_gas" style="height: 300px; min-width: 300px"></div>
  </div>
</div>